@charset "UTF-8";

body, div, h1, h2, ul,li { margin:0; padding:0; }
ul li { list-style: none;}
a { text-decoration: none; }

body { width:100%;  margin: 0 auto; }


#header { width:100%; height: 70px;
          position: absolute; top:0; left:0; z-index: 1; }
#head { width:240px; height:54px; margin-top:9px; margin-left:60px;
        background:url(../images/titlelogo.png) no-repeat center / cover; }
#head a { width:100%; height:45px; display: block; }

.headul { width: 1303px; height: 70px; position: absolute; top:0;left:440px; }
.headul > li a { color:#fff; font-size: 28px; margin-right: 110px;}
.headul > li > a:hover { color:red; font-size: 28px; margin-right: 110px; }

.headul > li { width:300px; float: left; line-height:70px; }
.headul1 { display:none; }
.headulll { text-align:center;
             }
.headull {
            background:#161616;
            border-radius: 0;  border-bottom:0px solid #39f;
            text-align:center;
           }
.headul1 li { height:30px; line-height:30px; }
.headul1 li a { font-size:16px; text-align:center; color:#a6a6a1; }
.headul1 li a:hover { font-size:16px; text-align:center; color:red; }

.wall { width:100%; height:100vh; position:fixed; top:0; left:0;
        background:url(../images/wall.png) no-repeat center / cover; }
.wall::before { content:""; width:100%; height:100vh; position:fixed; top:0; left:0;
                background:#000; opacity:0.5;  }

#login { width:600px; height:500px; background:#fff; margin: 0 auto;
        margin-top:10%; box-sizing: border-box; position:relative; opacity:1; }
#login p { font-size:18px; }
.loginsave { width:175px; height:62px; background:#fff; border-top:2px solid #000; border-bottom:2px solid #000;
            position: absolute; top:64px; left:424px; line-height:62px; }
.check { width:24px; height:24px; }
.login { text-indent:-9999px; overflow:hidden; margin: 0 auto;
        width: 240px; height:54px; background:url(../images/titlelogo.png) no-repeat center / cover; }

.loginput1 { width:70%; height:60px; margin-top:10px; font-size:20px; border-bottom:2px solid #000; border-left: 0px; border-right:0px; }
.loginput2 { width:99.4%; height:60px; margin-top:10px; font-size:20px; border-bottom:2px solid #000; border-left: 0px; border-right:0px; }

.loginbtn { width:25px; height:25px;  text-indent: -9999px; overflow: hidden; border: 1px solid #000; }
.btnon { background:url(../images/btn.jpg) no-repeat center / cover; }

.loginsum { width:600px; height:100px; font-size:32px; background:yellow;
            border:0px; }
.loginsum a { width:100%; height:100px; display:block; color:#000;
           line-height:100px; text-align: center; }
.loginsum:hover { background:#161616; }
.loginsum a:hover { color:#fff; }


.sel { width:400px; height:30px; padding-top:10px; margin: 0 auto; text-align: center;}
.sel li { float: left; margin-left:10px; }
.sel li a { display: block; color:#000; font-size:18px; }

.sel1 a::after { content:"│";  margin-left:15px; }
.sel2 a::after { content:"│";  margin-left:15px; }

.logo { width:240px; height:40px; margin: 0 auto; margin-top:50px;
      background:url(../images/neowiz.png) no-repeat center / cover;}

footer { width:100%; height:100px; }
#neo { width:100%; height:10%; background:#333; position: absolute; bottom:0%; padding-top:50px; }
.neo { background:url(../images/neowiz.png) no-repeat center / cover;
      width:100px; height:16px; margin: 0 auto; }
footer p { font-size:12px; color:#fff; line-height:50px; text-align: center; }
